---
layout: compress
---

<!DOCTYPE html>
<html ⚡ lang="{{ site.isolang }}" itemscope itemtype="http://schema.org/WebPage">
{% include head.html %}

<body class="wrap">
	<div class="grid">
		<nav>
		<div id="/home" class="unit whole align-center">
			<h1>{{ site.title }}</h1>
			<div id="/contact">
				<a href="https://twitter.com/{{ site.twitter_username }}" class="twitter-icon btn"><i class="icon ion-social-twitter"></i></a>
				<a href="https://github.com/{{ site.github_username }}" class="github-icon btn"><i class="icon ion-social-github"></i></a>
				<a href="mailto:{{ site.email }}" class="mail-icon btn"><i class="icon ion-email"></i></a>
				<a href="feed.xml" class="rss-icon btn"><i class="icon ion-social-rss"></i></a>
			</div>
			<div class="align-center">
				<a class="btn" href="{{ site.baseurl }}/index.html">PROJECTS</a>
				<a class="btn" href="{{ site.baseurl }}/blog.html">BLOG</a>
				<a class="btn" href="{{ site.baseurl }}/imprint.html">ABOUT</a>
			</div>
		</div>
		</nav>
		<main>
		<div class="unit whole" id="content">
			{% assign pagecontent = content %}
    		{% for replacement in site.replacements %}
    		{% assign pagecontent = pagecontent | replace: replacement[0], replacement[1] %}
    		{% endfor %}
    		{{ pagecontent }}
		</div>
		</main>
		<footer class="unit whole align-center">
			<p>{{ site.description }}</p>
   <p>Proudly presented <a href="https://jamstack.org"><strong>without</strong> WordPress</a></p>
		</footer>
	</div>
</body>

</html>